<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <=0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order=>{ %>
                    <li class="order__items">
                        <h1># <%= order._id %></h1>
                            <ul class="orders_products">
                                <% order.products.forEach(p =>{ %>
                                    <li class="order__products-item">
                                        <%= p.product.title %> - <%= p.quantity %>
                                    </li>
                                <% }) %>
                            </ul>
                    </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>